@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url("./styles/reset.css");
@import url("./styles/Landing/index.css");



:root {
    --color-main: #FFFFFF;
    --color-bg: #F2F2F2;
    --color-shade-100: #E0E0E0;
    --color-shade-200: #C4C4C4;
    --color-shade-300: #828282;
    --color-shade-400: #4F4F4F;
    --color-shade-500: #333333;
    --color-shade-600: #000000;
    --color-blue: #2F80ED;

    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 12px;
}

* {
    box-sizing: border-box;
}

.container {
    padding: 64px;
    display: grid;
    grid-template-columns: 30% auto auto;
    grid-template-rows: repeat(15, 157px);
    gap: 24px;
}

.grid-col-1 {
    grid-column: 1;
}

.grid-col-2 {
    grid-column: 2;
}

.grid-row-3 {
    grid-row: 3;
}

.grid-row-6 {
    grid-row: 6;
}

.grid-row-9 {
    grid-row: 9;
}

.grid-col-span-2 {
    grid-column: 2 / span 2;
}

.grid-row-span-2 {
    grid-row: span 2;
}

.grid-row-span-3 {
    grid-row: span 3;
}

.grid-row-span-4 {
    grid-row: span 4;
}

.grid-row-span-5 {
    grid-row: span 5;
}

.grid-row-span-6 {
    grid-row: span 6;
}

@media screen and (max-width: 1566px) {
    .container {
        padding: 16px;
    }
}

@media screen and (max-width: 1440px) {
    .design {
        display: none;
    }
    .frontend {
        grid-column: span 2;
    }
    .personal-info {
        grid-row: span 4;
    }
}

@media screen and (max-width: 1226px) {
    .hobbies {
        grid-column: 1 / span 3;
        grid-row: 12 / span 5;
    }
    .blogs {
        grid-row: 9;
        grid-column: 1 / span 3;
    }
}

@media screen and (max-width: 1154px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}