.blogs {

}

.blogs > .tab-container {
    overflow: hidden;
    padding: 24px;
    border-radius: var(--border-radius-lg);
    background-color: var(--color-main);
    margin-bottom: 16px;
}

.blogs > .tab-container > .title-text {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-shade-400);
}

.blogs .blog-container {
    padding: 32px 0px 32px 20px;
    border-radius: var(--border-radius-lg);
    overflow: hidden;
    background-color: var(--color-main);
}

.blogs .blog-container .flex-container {
    display: flex;
    justify-content: space-between;
}

.blogs .blog-container .flex-container .info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blogs .blog-container .flex-container .info-container .tag-text {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-shade-100);
    margin-bottom: 32px;
}

.blogs .blog-container .flex-container .info-container .title-text{
    font-size: 24px;
    font-weight: 500;
    color: var(--color-shade-500);
    margin-bottom: 24px;
}

.blogs .blog-container .flex-container .info-container .desc-text {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-shade-300);
    margin-bottom: 20px;
}

.blogs .blog-container .flex-container .info-container .author-text {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-blue);
}

.blogs .blog-container .flex-container .image-container {
    max-width: 467px;
}

.blogs .blog-container .flex-container .image-container img {
    object-fit: cover;
    width: 100%;
    border-radius: var(--border-radius-lg) 0px 0px var(--border-radius-lg);
}